.header-container{
  background-color: black;
  height: 100px;
}

.header-container-img{
  padding-top: 30px;
  padding-left: 30px;
}

.header-summary-container{
  height: 50px;
  text-align: right;
  padding-right: 30px;
}

.header-summary-text{
  font-size: 20px;
  font-weight: bold;
}